edfio==0.4.10
h5py>=3.7.0
huggingface_hub>=0.20.0
joblib==1.4.2
lightgbm>=4.0.0
numpy==2.0.2
pandas==2.2.2
psutil>=5.9.0
pytorch-lightning>=2.0.0
scikit-learn==1.6.0
scipy==1.13.1
ssqueezepy>=0.6.5
torch>=2.0.0
torchvision>=0.15.0
tqdm==4.67.1
xgboost>=2.0.0
yasa>=0.6.0
optuna>=3.0.0
